
<!doctype html>
<html ⚡>
<head>
  <title>Webjump | Backend Test | Add Product</title>
  <meta charset="utf-8">

  <link  rel="stylesheet" type="text/css"  media="all" href="css/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800" rel="stylesheet">
  <meta name="viewport" content="width=device-width,minimum-scale=1">
  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <script async custom-element="amp-fit-text" src="https://cdn.ampproject.org/v0/amp-fit-text-0.1.js"></script>
  <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>

  <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
</head>
  <!-- Header -->
<amp-sidebar id="sidebar" class="sample-sidebar" layout="nodisplay" side="left">
  <div class="close-menu">
    <a on="tap:sidebar.toggle">
      <img src="images/bt-close.png" alt="Close Menu" width="24" height="24" />
    </a>
  </div>
  <a href="index.html"><img src="images/menu-go-jumpers.png" alt="Welcome" width="200" height="43" /></a>
  <div>
    <ul>
      <li><a href="categories.html" class="link-menu">Categorias</a></li>
      <li><a href="products.html" class="link-menu">Produtos</a></li>
    </ul>
  </div>
</amp-sidebar>
<header>
  <div class="go-menu">
    <a on="tap:sidebar.toggle">☰</a>
    <a href="index.html" class="link-logo"><img src="images/go-logo.png" alt="Welcome" width="69" height="430" /></a>
  </div>
  <div class="right-box">
    <span class="go-title">Administration Panel</span>
  </div>    
</header>  
<!-- Header -->
  <!-- Main Content -->
  <main id='app' class="content">
    <h1 class="title new-item">New Product</h1>
    
    <form @submit='save'>
      <div class="input-field">
        <label for="sku" class="label">Product SKU</label>
        <input type="text" ref='sku' v-model="form.sku" class="input-text" /> 
      </div>
      <div class="input-field">
        <label for="name" class="label">Product Name</label>
        <input type="text" ref='name' v-model="form.name" class="input-text" /> 
      </div>
      <div class="input-field">
        <label for="name" class="label">Product Image</label>
        <div class="input-text" style="display: inline-block;">
          <img v-if='form.image != ""' :src="`images/${form.image}`" :alt="form.image.replace('product/', '')">
          <input type="file" accept="image/*" @change='updateImage' /> 
        </div>
      </div>
      <div class="input-field">
        <label for="price" class="label">Price</label>
        <input type="number" step="0.01" ref='price' v-model="form.price" class="input-text" /> 
      </div>
      <div class="input-field">
        <label for="quantity" class="label">Quantity</label>
        <input type="number" ref='quantity' v-model="form.quantity" class="input-text" /> 
      </div>
      <div class="input-field">
        <label for="category" class="label">Categories</label>
        <select multiple ref='category' v-model="form.category" class="input-text">
          <option v-for='cat in categories' :value='cat.code'>
            {{cat.name}}
          </option>
        </select>
      </div>
      <div class="input-field">
        <label for="description" class="label">Description</label>
        <textarea ref='description' v-model="form.description" class="input-text"></textarea>
      </div>
      <div class="actions-form">
        <a href="products.html" class="action back">Back</a>
        <input class="btn-submit btn-action" type="submit" value="Save Product" />
      </div>
      
    </form>
  </main>
  <!-- Main Content -->

  <!-- Footer -->
  <footer>
    <div class="footer-image">
      <img src="images/go-jumpers.png" width="119" height="26" alt="Go Jumpers" />
    </div>
    <div class="email-content">
      <span>go@jumpers.com.br</span>
    </div>
  </footer>
 <!-- Footer -->
  <script>
    const reset = { sku: "", name: "", price: "", quantity: "", category: [], description: "", image: "" } 
    new Vue({
      el: "#app",
      data: {
        form: JSON.parse( JSON.stringify (reset)),
        prodId: parseInt( window.location.search.replace("?id=", "") ),
        categories: []
      },
      methods: {
        updateImage(ev){
          if(ev.target.files.length == 0) return;
          let form = new FormData;
          form.append("file", ev.target.files[0]);

          $.ajax({
            type: "POST",
            enctype: 'multipart/form-data',
            url: "/api/upload/product",
            data: form,
            processData: false,
            contentType: false,
            cache: false,
            timeout: 600000,
            success: data => {
              this.form.image = data;
            },
            error: function (e) {
              Swal.fire({
                type: "error",
                text: "Could not send image!"
              })  
            }
          });
        },
        isValid(){
          let qntValid = 0
          let total = 0
          for(let camp in reset){
            if(camp != "image"){
              total++
              if(typeof this.form[camp] == "object"){
                if(this.form[camp].length >= 1)qntValid++;
              }else{
                if(this.form[camp] != "")qntValid++;
              }
            }
          }
          return qntValid == total
        },
        save(ev){
          ev.preventDefault()          
          if( this.isValid() ){
            $.post("/api/products", this.form).then( resp => {
              // console.log(resp)
              if(this.prodId == NaN) this.form = JSON.parse( JSON.stringify(reset) )
              else{
                this.form = JSON.parse(resp)
                this.form.id = this.prodId
              } 

              Swal.fire({
                type: "success",
                text: "Product saves successfully!"
              })         
            })
          }else{
            Swal.fire({
              type: "warning",
              text: "Complete all fields!"
            }) 
          }

        }
      },
      mounted(){
        $.get("/api/categories").then(resp => {
          this.categories = JSON.parse(resp)
        })

        if(this.prodId != NaN){
          $.get(`/api/products/${this.prodId}`).then( resp => {
            if( resp != "" ) this.form = JSON.parse(resp)
          })
        }
      }
    })
  </script>

</body>
</html>
